<!DOCTYPE html>
<html>
  <head>
    <title><%= 'Movies - ' + director.name + "'s Profile" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= director.name %></h1>
    <h3>Name: <%= director.name %></h3>
    <a href="<%= '/directors/' + director.id + '/edit' %>">Edit directors info</a>
    <a href="/directors">Back to directors</a>
  </body>
</html>
