<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
hey i work

<div>
  <div class="wrapper">
<% movies.forEach(function(data) { %>

    <li><span> <%= data.title %> </span></li>
</div>
<% }) %>
</div>
  </body>
</html>
