<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
Movie list

<div>
  <div class="wrapper">
<% movies.forEach(function(data) { %>

    <li><span>
      <a href="<%= '/movies/' + data.id %>" > <%= data.title %> </a>
    </span></li>

  <li><span>
    <%= data.synopsis %>
  </span></li>

</div>
<% }) %>
</div>
  </body>
</html>
