<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <a href="/users">main page</a>
  <body>
<form action="/movies" method="POST">
  <label>
    Movie Title
    <input type="text" name="title"/>
  </label>
  <label>
    Synopsis
  <input type="text" name="synopsis" />
  <input type="submit" value="Create User" />
</form>


  </body>


</html>
